.contacts-wrapper {
  background-color: #f4f7f8;
}

.contacts.block {
  max-width: 650px;
  margin: 0 auto;
  padding: 80px 24px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px 0;
}

.contact {
  text-align: center;
  line-height: 1.4;
}

.contacts .contact:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
}

.contacts .contact .title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.contacts .contact .position {
  font-size: 14px;
  color: #666;
}

.contacts .contact .email {
  font-size: 16px;
}

.contacts .contact .email a {
  color: #06c;
  text-decoration: none;
  overflow-wrap: break-word;
}

.contacts .contact .email a:hover {
  text-decoration: underline;
}

@media (width <= 768px) {
  .contacts .contact {
    grid-template-columns: 1fr;
  }
}


