.locations.block > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  gap: 60px;
}

.location-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 460px;
  overflow: hidden;
}

.location-images {
  display: flex;
  height: 240px;
  overflow: hidden;
  gap: 8px;
}

.location-images > picture > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.location-primary-image {
  width: calc(66.666% - 5.333px);
}

.location-secondary-image {
  width: calc(33.333% - 2.667px);
}

.location-images.single-image .location-primary-image {
  width: 100%;
}

.location-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.location-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.location-phone {
  font-size: 16px;
  margin-top: auto;
  color: #666;
  font-weight: 500;
}

.location-address {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.location-city {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.location-postcode {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.location-country {
  font-size: 16px;
  color: #999;
  font-weight: 500;
}

