/* Outer strip */
.cta.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta .title {
    padding-top: 80px;
    font-size: 32px;
    font-weight: 600;
}

.cta .subtitle {
    font-size: 16px;
}

.cta .email {
    white-space: nowrap;
}

@media (width <= 768px) {
  .cta .title {
    font-size: 1.75rem;
  }

  .cta .subtitle {
    font-size: 1rem;
  }

  .cta .email {
    font-size: 1rem;
  }
}

